body {
  padding: 0;
  margin: 0;
  font-family: helvetica, sans-serif;
}

/* i {
  color: rgb(13, 43, 109);
} */

.book-container {
  height: 600px;
  padding: 6px;
}

.inner-book-container {
  background-color: rgb(246, 246, 246);
  padding: 10px;
  height: 100%;
  text-align: center;
  border: 1px solid rgb(13, 43, 109);
  color: rgb(13, 43, 109);
}

.navbar {
  background: rgb(246, 246, 246);
}

.navbar i {
  color:rgb(87, 195, 245)
}

.navbar i:hover {
  color: rgb(13, 43, 109)
}

/* i { */
  /* color: rgb(87, 195, 245); */
/* } */

/* i:hover {
  color: rgb(13, 43, 109);
} */

#hamburgerIcon {
  color: rgb(246, 246, 246);
}

.header {
  background-color: rgb(13, 43, 109);
  margin-bottom: 10px;
}

.usersignupform {
  text-align: center;
}

.header-content {
  padding: 80px 30px;
  text-align: center;
  color: rgb(87, 195, 245);
}

.header-content button {
  border: 1px solid rgb(87, 195, 245);
  background: rgb(87, 195, 245);
  border-radius: 0;
  color: rgb(13, 43, 109);
}
.header-content button:hover {
  border: 1px solid rgb(246, 246, 246);
  background: rgb(246, 246, 246);
  color: rgb(13, 43, 109);
}

.add_book {
  margin: 10px;
  padding: 10px;
  background: rgb(13, 43, 109);
  color: rgb(87, 195, 245);
}

#book_form button {
  border: 1px solid rgb(87, 195, 245);
  background: rgb(87, 195, 245);
  border-radius: 0;
  color: rgb(13, 43, 109);
}
#book_form button:hover {
  border: 1px solid rgb(13, 43, 109);
  background: rgb(13, 43, 109);
  color: rgb(246, 246, 246);
}

.navbar button {
  border: 1px solid rgb(87, 195, 245);
  background: rgb(87, 195, 245);
  border-radius: 0;
  color: rgb(13, 43, 109);
}
.navbar button:hover {
  border: 1px solid rgb(13, 43, 109);
  background: rgb(13, 43, 109);
  color: r  rgb(246, 246, 246);
}

.new_user {
  text-align: center;
}

.user_signin { 
  text-align: center;
}

.features {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}

.feature-title {
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -mox-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgb(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: rgb(13, 43, 109);
  margin: auto;
  padding: 20px;
  border: 1px solid #fff;
  width: 80%;
  color: white;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.scanbox {
  border: 1px solid rgb(53, 64, 156);
  background: rgb(87, 195, 245);
  border-radius: 4px;
  color: rgb(13, 43, 109);
  margin-bottom: 15px;
}

.scanbox:hover {
  border: 1px solid rgb(12, 133, 240);
  background: rgb(246, 246, 246);
  border-radius: 4px;
  color: rgb(13, 6, 80);
}

#ISBNSearch {
  border-radius: 6px;
  margin-right: 3px;
}

.add_book button {
  border-radius: 6px;
}

.add_book button:hover {
  color: black;
  background-color:rgb(87, 195, 245)
}

.close {
  color: rgb(87, 195, 245);
  font-size: 28px;
}

.close:hover,
.close:focus {
  color: rgb(87, 195, 245);
  text-decoration: none;
  cursor: pointer;
}

.outer-book-title {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-book-author {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-book-image {
  display: flex;
  height: 270px;
  align-items: center;
}

.book-image img {
  width: 100%;

}

.new_user {
  text-align: center;
}

.user_signin {
  text-align: center;
}
