body {
  padding: 0;
  margin: 0;
}

i {
  color: rgb(13, 43, 109);
}

.book-container {
  height: 250px;
  padding: 6px;
}

.inner-book-container {
  background-color: rgb(246, 246, 246);
  padding: 15px;
  height: 200px;
  text-align: center;
  border: 1px solid rgb(13, 43, 109);
  color: rgb(13, 43, 109);
}

.navbar {
  background: rgb(246, 246, 246);
}

.header {
  background-color: rgb(13, 43, 109);
  margin-bottom: 10px;
}

.header-content {
  padding: 80px 30px;
  text-align: center;
  color: rgb(87, 195, 245);
}

.header-content button {
  border: 1px solid rgb(87, 195, 245);
  background: rgb(87, 195, 245);
  border-radius: 0;
  color: rgb(13, 43, 109);
}
.header-content button:hover {
  border: 1px solid rgb(246, 246, 246);
  background: rgb(246, 246, 246);
  color: rgb(13, 43, 109);
}

.add_book {
  margin: 10px;
  padding: 10px;
  background: rgb(13, 43, 109);
  color: rgb(87, 195, 245);
}

#book_form button {
  border: 1px solid rgb(87, 195, 245);
  background: rgb(87, 195, 245);
  border-radius: 0;
  color: rgb(13, 43, 109);
}
#book_form button:hover {
  border: 1px solid rgb(13, 43, 109);
  background: rgb(13, 43, 109);
  color: rgb(246, 246, 246);
}

.navbar button {
  border: 1px solid rgb(87, 195, 245);
  background: rgb(87, 195, 245);
  border-radius: 0;
  color: rgb(13, 43, 109);
}
.navbar button:hover {
  border: 1px solid rgb(13, 43, 109);
  background: rgb(13, 43, 109);
  color: r  rgb(246, 246, 246);
}

.features {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}

.feature-title {
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -mox-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgb(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: rgb(13, 43, 109);
  margin: auto;
  padding: 20px;
  border: 1px solid #fff;
  width: 80%;
}

.close {
  color: rgb(87, 195, 245);
  font-size: 28px;
}

.close:hover,
.close:focus {
  color: rgb(87, 195, 245);
  text-decoration: none;
  cursor: pointer;
}

.new_user {
  text-align: center;
}

.user_signin {
  text-align: center;
}